<div class="inputBlock">
  <label for="input1">X </label>
  <input [(ngModel)]="inputNum1" id="input1" name="inputNum1" type="number" class="inputs">
</div>

<div class="inputBlock">
  <select [(ngModel)]="inputSelectedValue" id="operationSelector">
    <option *ngFor="let o of operations" [ngValue]="o">{{o}}</option>
  </select>
</div>

<div class="inputBlock">
  <label for="input1">Y </label>
  <input [(ngModel)]="inputNum2" id="input2" name="inputNum2" class="inputs"
         oninput='var e = document.getElementById("operationSelector");
var text = e.options[e.selectedIndex].text;
if (text.localeCompare("/") === 0)
{
  if(!this.value.match("^-?[1-9][0-9]*$"))
    this.value="";
}
else {
  if(!this.value.match("^-?[0-9]*$"))
    this.value="";
}'
         pattern="^-?[1-9][0-9]*$" required
         type="number"/>
</div>
<br>
<button (click)="emitCalcData()" id="calcButton">&nbsp;=&nbsp;</button>
<br>
